.contenedor{
    background-color: #FAD4D4;
}
body{
    background-color: #FFF2F2;
}
.logo{
    justify-content: center;
}
.navmenu{
    background-color: #EF9F9F;
}
nav a{
    color: #FFF2F2;
}
.cont_Angie{
    margin: 10px;
    border: 2px solid #EF9F9F;
    padding: 10px;
    
}
.cont_Angie h3{
    font-size: 1em;
}
.footer{
    background-color: #F47C7C;
}
.logosPequeños img{
    width: 2em;
    margin-top: 5%;
    margin-left: 5%;
}
.logosPequeños{
    background-color: #F47C7C;
    border-radius: 1em;
    padding: 1em;
    

}